<!-- Username input -->
<div class="form-outline mb-3" #validateUsername>
    <label class="form-label" for="inputUsername">Username</label>
    <input type="text" id="inputUsername" class="form-control form-control-lg" placeholder="Username"
        formControlName="username" #inputUsername />
</div>

<!-- Email input -->
<div class="form-outline mb-3" #validateEmail>
    <label class="form-label" for="inputEmail">Email</label>
    <input type="email" id="inputEmail" class="form-control form-control-lg" placeholder="Email" formControlName="email"
        #inputEmail />
</div>

<!-- Password input -->
<div class="form-outline mb-3" #validatePassword>
    <label class="form-label" for="inputPassword">Password</label>
    <input type="password" id="inputPassword" class="form-control form-control-lg" placeholder="Password"
        formControlName="password" #inputPassword />
</div>

<!-- Confirm password input -->
<div class="form-outline mb-3" #validateConfirmePassword>
    <label class="form-label" for="inputConfirmPassword">Confirm password</label>
    <input type="password" id="inputConfirmPassword" class="form-control form-control-lg" placeholder="Confirm password"
        formControlName="confirmPassword" #inputConfirmPassword />
</div>
